.contenedor__navegacion{
    width: 100%;
   
}
.contenedor__desktop{
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}
@media (min-width:769px) {
    .contenedor__desktop{
        margin: 0 ;
    }
}
@media (min-width:1025px) {
    .contenedor__desktop{
        margin: 0 120px;
    }
}