.presentacion-textos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.presentacion-textos::after{
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    background: linear-gradient(45deg, #45C4B0,#9AEBA3);
    border-radius:50% ;
    z-index: -1;
    top: 65px;
    left: 400px;
    animation: circulo-p 3s ease infinite ;
}
.presentacion-textos::before{
    content: "";
    position: absolute;
    background: linear-gradient(45deg, #45C4B0,#9AEBA3);
    border-radius:50% ;
    z-index: -1;
    animation: circulo-g 3s ease infinite ;
}
@keyframes circulo-p {
50%{
    transform: translate(-10px,15px);
}    
}
@keyframes circulo-g {
    50%{
        transform: translate(10px,-15px);
    }    
}
@media (min-width:0px) {
    .presentacion-textos{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .presentacion-textos::before{
        width: 150px;
        height: 150px;
        top: 250px;
        left: -40px;
    }
    .presentacion-textos::after{
        width: 80px;
        height: 80px;
        top: 65px;
        left: 180px;
    }
}
@media (min-width:769px) {
    .presentacion-textos{
        padding: 0 5em;
        width: 50%;
    }
    .presentacion-textos::before{
        width: 335px;
        height: 355px;
        top: 150px;
        left: -40px;
    }
    .presentacion-textos::after{
        width: 120px;
        height: 120px;
        top: 65px;
        left: 400px;
    }
}
