.proyecto__btn{
    width: 50%;
    padding: 0.554em;
    outline: 2px solid var(--oscuro);
    border: none;
    text-align: center;
    border-radius: 5px;
    background: transparent;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}
.proyecto__btn:hover{
    outline:2px solid var(--verde);
    color: var(--verde);
}